
/* Estilo Geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}


/* procura > elemtentos */
/* Estilo do cabecalho */
/*. se refere a uma classe */
/* # se refere a uma id*/

body{
    height: 100%;
    background: linear-gradient(109.6deg, rgb(6, 2, 2) 32.4%, rgb(137, 30, 47) 98.8%);

}

.interface{
    max-width: 1280px;
    margin: 0 auto;

}


header{
    padding: 40px 4%;

}

.flex{
    display: flex;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a{
    color:#f8f8f8;
    text-decoration: None;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color:#a10505;
    transform: scale(1.05);

}
    
header nav ul{
    list-style-type: none;

}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
    text-decoration: none;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600px;
    background-color: #494949;
    border: 0;
    border-radius: 30px;
    cursor:pointer;
    transition: .2;


}

header .btn-contato button:hover{
    box-shadow: 0px 0px 8px #8800ff;

}

.btn-contato button:hover{
    box-shadow: 0px 0px 8px #8800ff;
    transform: scale(1.05);
}
/*Estilo do topo do site*/

section.topo-do-site{
    padding: 40px 4%;

}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color:#ffffff;
    font-size: 42px;
    line-height: 45px;
}



.txt-topo-site p{
    color:#ffffff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    border-radius: 30px;  
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top:30px;
    }
}